*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hero-section-background {
  background: url("https://www.badakar.com/assets/img/badakar1.jpg?h=71db46c827f251d2a594e34a91c056d8");
  background-size: cover;
}

.hero-section1-button {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, black 100%);
}
.form-style {
  @apply rounded-lg bg-richblack-700 p-3 text-[16px] leading-[24px] text-richblack-5 shadow-[0_1px_0_0] shadow-white/50 placeholder:text-richblack-400 focus:outline-none;
}
